body {
    line-height: 1.5;
    font-family: sans-serif;
    margin: 0;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(3, 69, 69);
    position: absolute;
    top: -1px;
    margin: 0;

    text-align: center;
    text-transform: uppercase;
}

.form-input {
    width: 300px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 18px;
}


.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 0;
    border: 1.5px solid rgba(139, 84, 84, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.load-more-hidden {
    display: none;
    
}

.load-more {
    display: block;
    padding: 15px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: rgb(161, 188, 188);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.load-more:hover {
    background-color: rgb(1, 103, 103);
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 70px;
}

.info-link {
    text-decoration: none;
    background-color: var(--main-bg-cl);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
